.background {
    background-image: url('../../Img/admin.png');
    background-size: cover;
   width: 100%;
    height: 100vh;
  }
  
  .formularioLogin {
    width: 400px;
    padding: 20px;
    background-color: #000000;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 100px;
    margin-top: 250px;
    opacity: 80%;
  }
  
  .formularioLogin h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #ffffff;
    font-weight: bold;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  
  
  .botaoEntrar {
    width: 100%;
    padding: 10px;
    background-color: #606666;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .botaoEntrar:hover {
    background-color: #3e3f3d;
  }
  
  @media (max-width: 880px) {
    .formularioLogin {
      padding: 50px;
    }
  
    .form-control,
    .botaoEntrar {
      font-size: 14px;
      padding: 8px;
    }
  }